<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_notify"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_notify_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reminder">
        <activity
            android:name=".menu.completed.CompletedDetailActivity"
            android:exported="false" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.completed.CompletedReminderActivity"/>
        </activity>
        <activity
            android:name=".menu.completed.CompletedReminderActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".menu.completed.CompletedActivity" />
        </activity>
        <activity
            android:name=".menu.completed.CompletedActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NewMemoActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".menu.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Reminder.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>